html,
body {
	height: 100%;
	background-color: var(--color-bg);
	color: var(--color-text);
	scroll-behavior: smooth;
}

body {
	margin: 0;
}

/* fonts and colors */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family-heading);
}

p,
li,
span,
a,
div {
	font-family: var(--font-family-p);
}

button {
	font-family: var(--font-family-button);
}

/* sizes */

h1 {
	font-size: 2rem;
	line-height: 1.2;
	font-weight: 600;
	margin: 0;
}
h2 {
	font-size: 1.75rem;
	line-height: 1.3;
	font-weight: 600;
	margin: 0;
}
h3 {
	font-size: 1.25rem;
	line-height: 1.4;
	font-weight: 500;
	margin: 0;
}
p {
	font-size: 1rem;
	line-height: 1.6;
	font-weight: 400;
	margin: 0;
}
button {
	font-size: 1rem;
	line-height: 1.5;
	font-weight: 600;
}

li {
	font-size: 1rem;
	line-height: 1.6;
	font-weight: 400;
}

.hero-name {
	font-size: 3.25rem;
	line-height: 1.1;
	font-weight: 700;
}
