.footer {
    color: whitesmoke;
    background-color: #0a0f1b;}

.footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
    max-width: 72rem;
    margin: auto;
    
}